$base-dark-color: #374151;
$base-dark-light-color: #505b6d;
$main-bg:#f9fafb;

$arabic-description: "Noto Naskh Arabic", serif;
$arabic-title: "Noto Kufi Arabic", sans-serif;

$russian-title: "Alumni Sans SC", sans-serif;
$russian-subtitle: "Montserrat", sans-serif;
$russian-description: "Open Sans", sans-serif;