.container {
  min-height: 100vh;
  margin-top: 50px;
}

.content {
  max-width: 28rem;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 0.5rem;
    font-family: $russian-title;

    @media (max-width: 768px) {
      font-size: 1.75rem;
    }
  }
  p {
    font-family: $russian-subtitle;
    font-size: 1rem;
    color: #6b7280;
  
    @media (max-width: 768px) {
      font-size: 0.95rem;
    }
  }
}
.sections {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: 1rem;
    font-family: $russian-subtitle;
    font-weight: 500;
    color: $base-dark-color;

  }
  :global(.ant-card-body) {
    padding: 1rem!important;
  }
}


.select {
  width: 100%;

  .ant-select-selector {
    border-radius: 0.5rem !important;
    border: 1px solid #e5e7eb !important;
    background: #ffffff !important;
    font-size: 0.875rem !important;

    &:focus {
      box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.5) !important;
    }
  }
}

.actionCard {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(229, 231, 235, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }

}

.actionContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionInfo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.actionTitle {
  font-weight: 500;
  color: #1f2937;
}

.actionDescription {
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: 0.25rem;
}

.arrowIcon {
  color: #9ca3af;
  font-size: 1.125rem;
}

.quoteCard {
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(229, 231, 235, 0.5);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quoteContent {
  text-align: center;
}

.decoration {
  margin-bottom: 1rem;

  svg {
    color: #d1d5db;
  }
}

.quoteText {
  font-size: 0.875rem;
  font-style: italic;
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.quoteRef {
  font-size: 0.75rem;
  color: #6b7280;
}