
.mushafContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 100vh;
  // padding: 1rem;
  // background-color: #f8f5e4;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Mushaf', sans-serif;

  // @media (max-width: 768px) {
  //   padding: 8px;
  // }

}

.pageContainer {

  max-width: 800px;
  width: 100%;
  background: #ffffff;
  border: 2px solid #7c7c7c1c;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // padding: 16px;
  // margin-bottom: 16px;


}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px; 
  overflow: hidden;
 aspect-ratio: 5 / 7; 

  display: flex;
  flex-direction: column;
  gap: 2px;
  // font-size: 1.8rem;
  line-height: 1.4  ;
  text-align: justify;
  direction: rtl;
  // max-height: 70vh;

}

.loading,
.error {
  text-align: center;
  font-size: 1rem;
  color: #b71c1c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  padding: 16px;
}