.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  gap: 1rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: fadeIn 0.3s ease forwards;
  opacity: 0;
  width: 100%;
  min-height: 64px;

  &:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.number {
  font-size: 0.85rem;
  font-weight: 600;
  color: #0f172a;
  background-color: #ecfdf5;
  padding: 0.35rem 0.75rem;
  border-radius: 0.75rem;
  min-width: 32px;
  text-align: center;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
  overflow: hidden;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: #1e293b;
  text-overflow: ellipsis;
  overflow: hidden;
}

.type {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #64748b;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  gap: 0.5rem;
}

.arabic {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f172a;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
}

.verses {
  font-size: 0.75rem;
  color: #64748b;
  margin-top: 0.2rem;
  text-align: right;
  white-space: nowrap;
}

.playBtn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #10b981;
  color: #ffffff;
  border-radius: 999px;
  padding: 0.5rem;
  transition: background 0.2s ease;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    background: #059669;
  }
}

/* 👇 УБИРАЕМ изменение верстки на мобилке */
@media (max-width: 640px) {
  .card {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
  }

  .name {
    font-size: 0.95rem;
  }

  .arabic {
    font-size: 1.1rem;
  }

  .playBtn {
    padding: 0.4rem;
  }
}

.typeTag {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  transition: all 0.2s ease;
  width: fit-content;

  &.meccan {
    &:hover {
      background: #555555;
      
    }
    background: #979797;
    color: #ffffff;
    svg {
      color: rgb(255, 255, 255);
    }
  }

  &.medinan {
    &:hover {
      background: #015358;
    }
    background: #00818a;
    color: rgb(255, 255, 255);
    svg {
      color: rgb(255, 255, 255);
    }
  }
}
