.container {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #1e293b;
  font-family: $russian-title;
}

.select {
  min-width: 180px;

  :global(.ant-select-selector) {
    border-radius: 0.75rem !important;
    padding: 0.25rem 0.75rem !important;
    height: auto !important;
  }

  :global(.ant-select-selection-item) {
    font-size: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.5rem;
}



/* Планшеты */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Мобилки */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.skeleton {
  text-align: center;
  font-size: 1.2rem;
  color: #94a3b8;
}
